useDynLib(rspdlite, .registration=TRUE)
importFrom(Rcpp, evalCpp)
export(set_level,
       get_level,
       set_name,
       get_name,
       set_precision,
       show_thread_id,
       show_date,
       show_utc,
       trace,
       debug,
       info,
       warn,
       error,
       critical)
