useDynLib(rspdlite, .registration=TRUE)
importFrom(Rcpp, evalCpp)
#exportPattern("^[[:alpha:]]+")
export(set_level,
       trace,
       debug,
       info,
       warn,
       error,
       critical)
